<div class="container my-5">
  <form>
    <div class="row justify-content-around">
      <div class="col-4">
        <div class="input-group mb-3">
          <button class="btn btn-outline-secondary" type="submit" id="search-button"><i
              class="fa-solid fa-magnifying-glass"
            ></i></button>
          <input
            type="text"
            name="search"
            class="form-control"
            value="{{keyword}}"
            placeholder="restaurant or category"
            aria-label="Example text with button addon"
            aria-describedby="search-button"
          />
        </div>
    </div>
    <div class="col-2" style="display: inline">
        <select
          class="form-select"
          name="sort"
          aria-label="category sort"
          onchange="this.form.submit()"
        >
          <option value="1" {{#if (eq order "1")}}selected{{/if}}>A -> Z</option>
          <option value="2" {{#if (eq order "2")}}selected{{/if}}>Z -> A</option>
          <option value="3" {{#if (eq order "3")}}selected{{/if}}>Category</option>
          <option value="4" {{#if (eq order "4")}}selected{{/if}}>Region</option>
        </select>
      </div>
    </div>
  </form>
</div>