{{#if success_msg}}
  <div class="container">
    <div class="d-flex justify-content-center">
      <div>{{success_msg}}</div>
    </div>
  </div>
{{/if}}
{{#if error_msg}}
  <div class="container">
    <div class="d-flex justify-content-center">
      <div>{{error_msg}}</div>
    </div>
  </div>
{{/if}}
{{#if register_msg}}
  <div class="container">
    <div class="d-flex justify-content-center">
      <div>{{register_msg}}</div>
    </div>
  </div>
{{/if}}