<nav class="navbar navbar-light bg-light">
  <div class="container d-flex">

    <div class="p-2 flex-grow-1">
      <a class="navbar-brand logo-font" href="/restaurants">
        <img
          src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt="Restaurants in Taipei"
        />
        Restaurants in Taipei
      </a>
    </div>
    <div class="p-2">
      <form action="/restaurants/create" method="GET" style="margin-block-end: 0em;">
        <button type="submit" class="btn btn-outline-primary">Create</button>
      </form>
    </div>
    <div class="p-2">
      <form action="/logout" method="POST" style="margin-block-end: 0em;">
        <button class="btn btn-outline-danger" type="submit">Logout</button>
      </form>
    </div>

  </div>
</nav>