<nav class="navbar navbar-light bg-light">
  <div class="container d-flex">

    <div class="p-2 flex-grow-1">
      <a class="navbar-brand logo-font" href="/restaurants">
        <img
          src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt="Restaurants in Taipei"
        />
        Restaurants in Taipei
      </a>
    </div>
    <div class="p-2">
      <a href="/restaurants/create">
        <button type="button" class="btn btn-outline-primary">Create</button>
      </a>
    </div>
    <div class="p-2">
      <a href="/logout">
        <button type="button" class="btn btn-outline-danger">Logout</button>
      </a>
    </div>

  </div>
</nav>