<div class="container my-5" style="margin: 0 auto;">
  <div class="card" style="width: 90%; margin: 0 auto;">
    <div class="row">
      {{! img }}
      <div class="col-6">
        <img src="/img/login_register.jpg" alt="login_register_image" style="border-radius: 5px;" />
      </div>
      {{! /img }}
      {{! page }}
      <div class="col-6" style="margin: auto;">
        <div class="d-flex justify-content-center">
          <h1 class="my-3 logo-font">My Restaurant List</h1>
        </div>
        <div class="card-body" style="margin: auto">
          <div class="d-flex justify-content-center">
            <h1 class="my-5" style="color: #c4c4c4">Login</h1>
          </div>
          {{> message}}
          <form action="/login" method="POST">
            <div class="mb-3">
              <input type="email" class="form-control" placeholder="email" name="email" />
            </div>
            <div class="mb-3">
              <input type="password" class="form-control" placeholder="Password" name="password" />
            </div>

            <div class="d-grid gap-2">

              <button
                class="btn btn-outline-secondary btn-lg"
                style="border-radius: 24px"
                type="submit"
              >Login</button>

            </div>

          </form>

          <div class="d-flex justify-content-center">
            <h5 class="my-5" style="color: #c4c4c4">or</h5>
          </div>

          <div class="mb-5">
            <div class="d-grid gap-2">
              <form action="/register" method="GET">
                <button
                  class="btn btn-outline-secondary btn-lg"
                  style="border-radius: 24px; width: 100%;"
                  type="submit"
                >Register</button>
              </form>
              <form action="/login/google" method="GET">
                <button
                  class="btn btn-outline-secondary btn-lg"
                  style="border-radius: 24px; width: 100%;"
                  type="submit"
                ><i class="fa-brands fa-google fa-lg" style="color: #c4c4c4;" type="submit"></i>
                  Sign in with Google</button>
              </form>
              <form action="/login/facebook" method="GET">
                <button
                  class="btn btn-outline-secondary btn-lg"
                  style="border-radius: 24px; width: 100%;"
                  type="submit"
                ><i class="fa-brands fa-facebook fa-lg" style="color: #c4c4c4;"></i>
                  Sign in with Facebook</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      {{! /page }}
    </div>
  </div>
</div>