<div class="container my-5">
  <h3 class="text-center mb-5">Help us to improve our restaurant diversity</h3>
  <div class="row">
    <div class="input-group mb-3 col">
      <span class="input-group-text" id="basic-addon1">Restaurant Chinese Name</span>
      <input
        type="text"
        class="form-control"
        placeholder="Restaurant Chinese Name"
        aria-label="Restaurant Chinese Name"
        aria-describedby="basic-addon1"
      />
    </div>
    <div class="input-group mb-3 col">
      <span class="input-group-text" id="basic-addon1">Restaurant English Name</span>
      <input
        type="text"
        class="form-control"
        placeholder="Restaurant English Name"
        aria-label="Restaurant English Name"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
  <div class="row">
    <div class="input-group mb-3 col">
      <label class="input-group-text" for="inputGroupSelect02">Category</label>
      <select class="form-select" id="inputGroupSelect02">
        <option selected>Category</option>
        <option value="1">中東料理</option>
        <option value="2">日本料理</option>
        <option value="3">義式餐廳</option>
        <option value="4">美式</option>
        <option value="5">酒吧</option>
        <option value="6">咖啡</option>
        <option value="7">其他</option>
      </select>
    </div>
    <div class="input-group mb-3 col">
      <label class="input-group-text" for="inputGroupSelect02">Rating</label>
      <select class="form-select" id="inputGroupSelect02">
        <option selected>Rating</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="input-group mb-3 col">
      <span class="input-group-text" id="basic-addon1">Restaurant Image</span>
      <input type="file" class="form-control" id="inputGroupFile02" />
      <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    <div class="input-group mb-3 col">
      <span class="input-group-text" id="basic-addon1">Phone</span>
      <input
        type="text"
        class="form-control"
        placeholder="Phone"
        aria-label="Phone"
        aria-describedby="basic-addon1"
      />
    </div>
  </div>
  <div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Address</span>
    <input
      type="text"
      class="form-control"
      placeholder="Address"
      aria-label="Address"
      aria-describedby="basic-addon1"
    />
  </div>
  <div class="input-group">
    <span class="input-group-text">Description</span>
    <textarea class="form-control" aria-label="Description"></textarea>
  </div>
</div>